/node_modules
/public/hot
/public/storage
/public/js/coinimp-cache
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
__pycache__
/scripts/news/cron_log.txt
*.wasm
